body {
  background-color: #171719;
  color: #FEF7FF;
  margin: 0;
}

a {
  color: #8BCBFF;
}

#content{
  margin: 0 10px;
  font-family: Roboto, sans-serif;
}

.game-thumbnail {
  max-width: 64px;
  max-height: 64px;
  background-color: #D1D5E3;
}
